@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: 'SamsungSans';
  src: url('/fonts/SamsungSharpSans-Medium.woff2') format('woff2'); /* Modern Browsers */
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'SamsungSans';
  src: url('/fonts/SamsungSharpSans-Bold.woff2') format('woff2'); font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'SamsungSans'; /* Modern Browsers */
  src: url('/fonts/SamsungSharpSans-Regular.woff2');
  font-style: normal;
  font-weight: 400;
}
